<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12 col-lg-2">
      <div class="profile_column">
        <div class="profile">
          <div style="display: flex; flex-direction: row; flex-wrap: nowrap;
          background-color: black; border-radius: 5px; color: white; width: 97%;">
            <img src="../assets/images/profile.JPG">
            <div style="width: 100px; margin-top: 6px;">
              <span class="welcome">WELCOME</span>
              <span class="mike">Mike Harris
              </span>
              <span class="edit_profile">edit profile | sign out</span>
            </div>
          </div>
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </div>
        <div>
          <p class="add_to_profile">Add to Pipeline</p>
        </div>
        <div>
          <nav>
            <ul class="navigations">
              <li><i class="fa fa-wrench" aria-hidden="true"></i>Setup System</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>Pricing</li>
              <li><i class="fa fa-key" aria-hidden="true"></i>Manage System</li>
              <li><i class="fa fa-university" aria-hidden="true"></i>Banks</li>
              <li><i class="fa fa-file-text" aria-hidden="true"></i>Reports</li>
              <li><i class="fa fa-user" aria-hidden="true"></i>Sales Agent</li>
              <li style="background-color: darkturquoise;"><i class="fa fa-users" aria-hidden="true"></i>Pipeline</li>
              <li style="background-color: black; padding-right: 0px;"><i class="fa fa-filter"
                  aria-hidden="true"></i>Pipeline
                <i class="fa fa-play" aria-hidden="true"></i>
              </li>
              <li style="background-color: black;"><i class="fa fa-search" aria-hidden="true"></i>Pipeline Search</li>
            </ul>
          </nav>
        </div>
        <h6 class="recently_viewed">Recently Viewed</h6>
        <div>
          <nav>
            <ul class="recently_viewed_list">
              <li><i class="fa fa-eye" aria-hidden="true"></i>Joe's Burgers</li>
              <li><i class="fa fa-eye" aria-hidden="true"></i>Matt's Auto P...</li>
              <li><i class="fa fa-eye" aria-hidden="true"></i>Tom's Stake Shop</li>
              <li><i class="fa fa-eye" aria-hidden="true"></i>Runte, Nolan ...</li>
              <li><i class="fa fa-list" aria-hidden="true"></i>View All Recent</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- <div class="rate_review_section"> -->
    <div class="col-md-4 col-12 col-lg-5" style="padding-top: 29px;">
      <div class="rate_review_main_div">
        <h6 class="rate_review">
          <i style="margin-right: 12px;" class="fa fa-info-circle" aria-hidden="true"></i>
          Rate Review
        </h6>
        <label style="margin-bottom: 3px;">Description</label>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <input type="text" class="form-control">
        <label style="    margin-top: 14px;
          margin-bottom: 3px;">SIC Code</label>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <select type="text" class="form-control"></select>
        <div class="row visa_row">
          <div class="col-md-8">
            <div class="visa_left_column">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="visa_right_column">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
              <i class="fa fa-cc-visa visa" aria-hidden="true">
                <span>$</span>
              </i>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row calculation_row">
          <div class="col-md-8">
            <div class="vol_tic_cur_mer_left_column">
              <label>Total Volume</label>
              <span class="dollar_sign_total_volume">$</span>
              <input type="text" class="form-control custom_form_control">
              <label style="margin-top: 8px;">Avg Ticket</label>
              <span class="dollar_sign_avg_ticket">$</span>
              <input type="text" class="form-control custom_form_control">
              <label style="margin-top: 8px;">Current Fees</label>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <span class="dollar_sign_current_fees">$</span>
              <input type="text" class="form-control">
              <label style="margin-top: 8px;">Merchant Type</label>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="tra_rat_ame_spe_right_column">
              <label>Total Transactions</label>
              <span class="hash_sign_total_transcation">#</span>
              <input type="text" class="form-control custom_form_control">
              <label style="margin-top: 8px;">Current Rate</label>
              <span class="percentage_current_rate">%</span>
              <input type="text" class="form-control custom_form_control">
              <label style="margin-top: 8px;">Current Amex Fees</label>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <span class="dollar_sign_current_amex_fees">$</span>
              <input type="text" class="form-control">
              <label style="margin-top: 8px;">High Speed</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="col-md-4 col-12 col-lg-5" style="padding-top: 29px;">
      <div class="select_pricing_main_div">
        <h6 class="select_pricing">
          <i style="margin-right: 12px;" class="fa fa-info-circle" aria-hidden="true"></i>
          Select Pricing Options
        </h6>
        <div class="table_data">
          <table style="width:552px" id="new_color">
            <thead>
              <th style="width: 504px;">Name <span class="heading_name"><i class="fa fa-sort"
                    aria-hidden="true"></i></span>
                <!-- <span class="heading_name2"><i class="fa fa-play" aria-hidden="true"></i></span> -->
              </th>
              <th style="width: 150px;">Savings <span class="heading_save"><i class="fa fa-sort-desc"
                    aria-hidden="true"></i></span></th>
              <th style="width: 150px;">Residuals <span class="heading_residuals"><i class="fa fa-sort-desc"
                    aria-hidden="true"></i></span></th>
              <th style="width: 150px;">Rate <span class="heading_rate"><i class="fa fa-sort"
                    aria-hidden="true"></i></span>
                <!-- <span class="heading_rate1"><i class="fa fa-play" aria-hidden="true"></i></span> -->
              </th>
            </thead>
            <tbody>
              <tr>
                <td>Interchange + % and $</td>
                <td>$1.331.33</td>
                <td>$261.49</td>
                <td>2.29%</td>
              </tr>
              <tr>
                <td>Interchange + % and $</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>Interchange + % and $</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>Interchange + % and $</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>Interchange + % and $</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>2.50% Flat</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>2.60% Flat</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>2.75% Flat</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td><i class="fa fa-pencil" aria-hidden="true"></i>
                  <span style="margin-left: -21px;"> Tiered w/Reg Debit</span>
                </td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
              <tr>
                <td>3 Tiered w/Reg Debit</td>
                <td>$1.298.81</td>
                <td>$287.51</td>
                <td>$2.32%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="non_monthly_fees">
          <span class="non_monthly">Non-Monthly Fees</span>
          <span class="add">Add</span>
        </div>
        <div class="final_proposal">
          <h6>Final Proposal Details Below</h6>
        </div>
        <div class="proposal">
          <span style="font-weight: 600;">Proposal</span>
          <span class="proposal_update">Update</span>
          <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
        </div>
        <div class="table_data2" style="margin-top: 7px;">
          <table style="width: 100%;">
            <colgroup>
              <col span="1" style="background-color:#eee">
              <col style="background-color:white">
              <col span="1" style="background-color:#eee">
            </colgroup>
            <thead>
              <th style="width: 25%; padding-bottom: 23px; background-color:#eee;">Genereated</th>
              <th style="width: 25%; padding-bottom: 23px;">3/9/2016</th>
              <th style="width: 25%; padding-bottom: 23px; background-color:#eee;">Pricing</th>
              <th style="width: 25%; padding: 2px">6 Tiered w/Reg Debit</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>